$cognac:    #9a3017;
$coral:     #FF7958;
$cinnabar:  #e75b39;
$gossamer:  #079a69;
$turquoise: #39e7ac;
$white:     #ffffff;
$black:     #000000;

$callout-color: $cinnabar;
$landing-color: $white;
$landing-social-button-color: $white;
$project-name-color: $white;
$shadow-color: $black;
$field-color: lighten($black, 60%);
$field-focus-color: $cinnabar;
