$cognac:    #9a3017;
$coral:     #FF7958;
$cinnabar:  #e75b39;
$gossamer:  #079a69;
$turquoise: #39e7ac;
$white:     #ffffff;
$black:     #333333;
$grey:      #f4f4f4;
$olive:     #43ac6a;

$body-background: $white;
$success-color: $olive;
$callout-color: $cinnabar;
$landing-color: $white;
$sign_up--title-color: $white;
$landing-social-button-color: $white;
$project-name-color: $white;
$shadow-color: $black;
$field-color: lighten($black, 60%);
$field-focus-color: $cinnabar;
$m-add_project-organization-background--selected: $grey;
$m-menu-link-background--hover: darken($black, 6%);
$m-menu-link-separator: $black;
$m-add_project-project--is-importProject-color: lighten($black, 20%);
$m-user_feedback_message--border: lighten($olive, 5%);
$m-user_feedback_message--background: $olive;
