div(class="grid-block small-up-1 large-up-2", ng-controller="AddProjectController")
  div(class="grid-container")
    h2 Choose an organization
    section(class="grid-block small-up-1")
      div(class="grid-content")
        div(class="card m-add_project-organization", ng-class="{ 'is-selected': organization.selected }", ng-click="selectContext(user)")
          div(class="grid-block")
            div(class="grid-content shrink")
              img(class="m-add_project-organization--avatar", ng-src="{{:: user.avatar_url }}")
            div(class="grid-content")
              h3 {{:: user.username }}
      div(class="grid-content", ng-repeat="organization in organizations")
        div(class="card m-add_project-organization", ng-class="{ 'is-selected': organization.selected }", ng-click="selectContext(organization)")
          div(class="grid-block")
            div(class="grid-content shrink")
              img(class="m-add_project-organization--avatar", ng-src="{{:: organization.avatar_url }}")
            div(class="grid-content")
              h3 {{:: organization.name }}

  div(class="grid-container", ng-if="projects.length")
    h2 Choose a project
    section(class="grid-block small-up-1")
      div(class="block-list")
        ul
          li(class="m-add_project-project", ng-repeat="project in projects", ng-class="{ 'is-imported': project.imported }")
            span
              div(class="grid-block")
                div(class="grid-content m-add_project-project--name")
                  | {{ project.name }}
                div(class="grid-content shrink", ng-if="project.imported")
                  button(class="alert hollow button")
                    i(class="fa fa-trash-o")
                    &nbsp; Remove
                div(class="grid-content shrink", ng-if="!project.imported")
                  a(class="success hollow button", href="/")
                    i(class="fa fa-check-circle")
                    &nbsp Import project
