div(class="m-dashboard small-12 large-offset-2 large-8 grid-block vertical")
  div(class="card")
    div(class="card-divider")
      | No existing project
    div(class="card-section")
      p
        | You don't have any project yet. Add one to start enjoying the application.
      div(class="text-center")
          button(class="button", ui-sref="add-project") Add project
