section(class="block-list small-12 medium-6 grid-content", ng-controller="RemoteProjectsCtl")
  header
    | remote projects

  ul(class="m-remote-project")
    li(ng-repeat="project in projects")
      span
        | {{:: project.name }}

      div(class="switch")
        input(type="checkbox", id="{{:: project.name }}", ng-click="import(project)")
        label(for="{{:: project.name }}")
