div(class="small-12 columns text-center m-sign_up--title-wrapper")
  h2(class="m-sign_up--title") Register now to start deploying for free.

div(class="row m-providers", ng-controller="AuthenticationCtrl")
  div(class="medium-6 columns text-center")
    div
      i(class="fa fa-github m-provider--logo")
    button(class="button large callout", ng-click="authenticate('github')").
      register with github

  div(class="medium-6 columns text-center")
    div
      i(class="fa fa-bitbucket m-provider--logo")
    button(class="button large callout", ng-click="authenticate('bitbucket')").
      register with bitbucket

div(class="row")
  div(class="small-12 columns text-center")
    p
      | or
      &nbsp;
      a(ui-sref="sign_in").
        sign in

div(class="row")
  div(class="small-12 columns")
    div(class="panel")
      div(class="row")
        div(class="medium-10 large-push-2 large-8 columns text-center")
          | As soon as you register, you will start using the
          strong FREE plan
          &nbsp;
          |. To get started with this plan, you have
          strong no credit card
          &nbsp;
          | required.
          &nbsp;
          | You can upgrade/downgrade your plan at any time.

div(class="row")
  div(class="small-12 columns text-center")
    p
      | By signing up, you're agreeing to the
      a(href="/terms_of_services.html") Terms of Service
      &nbsp;
      | and our
      &nbsp;
      a(href="/privacy_policy.html") Privacy Policy
      |.

