ul(class="m-menu vertical menu-bar dark", ng-controller="MenuCtl", ng-init="getUser()")
  li(class="m-menu--project-element")
    a(ui-sref="dashboard", class="m-menu--link-with-picture", title="Home")
      img(src="/assets/logo.png", alt="deploymy.codes", title="deploymy.codes")

  li
    a(class="m-menu--link m-menu--link-with-picture m-menu--link-with-profile-picture", href="#", title="Profile")
      img(ng-src="{{:: user.avatar }}")

  li
    a(class="m-menu--link m-menu--link-with-icon", ui-sref="remote-projects", title="Add a project")
      i(class="fa fa-plus-circle")

  li(ng-controller="AuthenticationCtrl")
    a(class="m-menu--link m-menu--link-with-icon", href="#", ng-click="logout()", title="Sign out")
      i(class="fa fa-sign-out")
