.m-landing {
  @media #{$small-only} {
    background:      image-url('landing-small.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  @media #{$medium-only} {
    background:      image-url('landing-medium.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  @media #{$large-up} {
    background:      image-url('landing-large.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  height:   100%;
  position: relative;
}

.m-landing--project-name {
  color:           $project-name-color;
  display:         inline-block;
  font-family:     "Inconsolata";
  font-size:       2em;
  font-weight:     bold;
  margin:          1em;
  text-decoration: none;
  position:        absolute;
  &:hover {
    color: $project-name-color;
  }
}

.m-landing--logo {
  width: 42px;
  @media #{$medium-up} {
    width: 84px;
  }
}

.m-landing--social {
  list-style-type: none;
  margin:          2em;
  position:        absolute;
  right:           0;
}

.m-landing--social--button {
  color: $landing-social-button-color;
  font-size: 2em;
  &:hover {
    color: darken($project-name-color, 20%);
  }
}

.m-landing--panel {
  color:     $landing-color;
  overflow:  hidden;
  position:  relative;
  text-shadow: 0 0 1px $shadow-color;
  top:       50%;
  transform: translateY(-50%);
}

.m-landing--title {
  color:     $landing-color;
  font-weight:   bold;
  margin-bottom: 1em;
}

.m-landing--explanation {
  font-size: 1.5em !important;
}
